src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b8535d20-e879-4f14-9dfc-83795178be93" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="d4e7e3a1-a580-4df9-b85f-f447f39d6ed4" >
		<http:listener doc:name="Listener" doc:id="824deed5-92e6-4486-89bb-599031ffe3de" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="f3caf0ce-b435-4424-bd89-c0d8b9a07441" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="bd4e2255-b2aa-4a79-a3a5-168fb8ce8e9c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"hello world" ++ "-" ++ "1*10"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
